+++
title = "KubeDiag"
linkTitle = "KubeDiag"
+++

{{< blocks/cover title="云原生诊断运维编排框架" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/quick-start/" >}}">
		快速开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubediag/kubediag/releases">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
		通过 Kubernetes 提供的标准化能力，我们可以将问题诊断和故障运维工作中的专业经验进行沉淀，助力用户实现 DevOps 流程中监控、运维、诊断的全自动化管理以及场景化的交互式根因定位。
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
经验即代码：诊断经验全部通过代码实现并通过标准化的方式集成到框架中，易于沉淀并复用。<br>
自动化：用户可以像搭建乐高一样将运维编排成自动化流水线，流水线通过一键点击或自动触发执行。<br>
可移植性：基于 Kubernetes Operator 实现，自动化诊断的功能可以在任意 Kubernetes 环境中运行。
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="了解 KubeDiag 中的概念" url="/docs/concepts/" %}}
帮助您了解 KubeDiag 的各个组成部分以及 KubeDiag 用来表诊断运维流程的一些抽象概念，并帮助您更加深入的理解 KubeDiag 是如何工作的。
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献" url="https://github.com/kubediag/kubediag" %}}
我们采用 [Pull Request](https://github.com/kubediag/kubediag/pulls) 的形式在 GitHub 上进行工作。欢迎新用户的加入！
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-file-code" title="帮助我们改进文档" url="https://github.com/kubediag/website" %}}
该文档的所有内容均托管在 GitHub 上。如果您在使用文档的过程中发现任何问题，欢迎您为我们提出宝贵的建议。
{{% /blocks/feature %}}

{{< /blocks/section >}}
