+++
title = "KubeDiag"
linkTitle = "KubeDiag"
+++

{{< blocks/cover title="基于 Kubernetes 打造的诊断运维编排框架" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/quick-start/" >}}">
		快速开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubediag/kubediag/releases">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
		通过 Kubernetes 提供的标准化能力，我们可以将开发人员和运维人员在问题诊断和故障运维工作中各自的职责界定清晰，并为集群中的诊断运维管理提供一套统一的编排框架。
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
用户通过 Kubernetes 自定义资源可以定义运维操作、如何执行复杂的诊断运维流水线、如何通过报警自动触发诊断运维流水线。开发人员可以将精力聚焦在某个系统或业务问题的诊断逻辑编写上，而运维人员可以像搭建乐高一样通过编写自定义资源的方式将这些运维编排成流水线。
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="了解 KubeDiag 中的概念" url="/docs/concepts/" %}}
帮助您了解 KubeDiag 的各个组成部分以及 KubeDiag 用来表诊断运维流程的一些抽象概念，并帮助您更加深入的理解 KubeDiag 是如何工作的。
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="欢迎贡献" url="https://github.com/kubediag/kubediag" %}}
我们采用 [Pull Request](https://github.com/kubediag/kubediag/pulls) 的形式在 GitHub 上进行工作。欢迎新用户的加入！
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="帮助我们改进文档" url="https://github.com/kubediag/website" %}}
该文档的所有内容均托管在 GitHub 上。如果您在使用文档的过程中发现任何问题，欢迎您为我们提出宝贵的建议。
{{% /blocks/feature %}}

{{< /blocks/section >}}
